<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Picty - Picture a city in a given month!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" />
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Picty <span> - Picture a city</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Home</a></li>
							<li><a href="#" class="button special">About</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">
						<header>
							<h2>PICTY</h2>
						</header>
						<p>Wanna see how is <strong>Amsterdam</strong>
						<br />
						in February?
						<br />

						<form>
							<div class="row 50%">
								<div id="cityinput" class="12u">
										<select name="cityName" id="city-options">

										</select>
								</div>
								<div class="12u">

									<select name="month">
											<option>January</option>
											<option>February</option>
											<option>March</option>
											<option>April</option>
											<option>May</option>
											<option>June</option>
											<option>July</option>
											<option>August</option>
											<option>September</option>
											<option>October</option>
											<option>November</option>
											<option>December</option>
									</select>

								</div>
							</div>

						</form>

						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button fit scrolly">Show me some pictures!</a></li>
							</ul>
						</footer>
					</div>
				</section>

      <!-- Main -->
      <%= render @view_module, @view_template, assigns %>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="https://twitter.com/rod_gomes" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/rodgomes/picty" class="icon circle fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.instagram.com/rod_gomes" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Picty</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>

		</div>
		<!-- Scripts -->
		<script type="text/javascript" src="<%= static_path(@conn, "/js/vendor.js") %>" ></script>
    <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>" ></script>

	</body>
</html>
