<article id="main" class="search-result">

  <header class="special container">
    <span class="icon fa-search"></span>
    <h2>Search result</h2>

  </header>
  <!-- One -->
    <section class="wrapper style4 special container 100%">
      <div class="photoset-grid" data-layout="13">
        <!-- <img src="image1.jpg">
        <img src="image2.jpg">
        <img src="image3.jpg">
        <img src="image4.jpg"> -->
      </div>

    </section>

</article>
